@use 'helpers' as *;

:root {
	// Colors
	--color-dark: #141414;
    --color-light: #FFF;

    --color-primary-800: #462977;
	--color-primary-600: #8c59e4;
    --color-primary-500: #b28bf5;
	--color-primary-300: #d1c4e9;
    --color-primary-100: #d1c4e9;
	--color-primary-opacity: hsl(262, 84%, 75%, 0.1);

    --color-grey-900: #212121;
    --color-grey-800: #424242;
	--color-grey-500: #9e9e9e;
    --color-grey-300: #e0e0e0;
    --color-grey-100: #f3f3f3;
	--color-grey-opacity: hsl(0, 0%, 62%, 0.1);

    --color-green-800: #0c3f0f;
	--color-green-500: #4caf50;
	--color-green-300: #abe7ae;
	--color-green-100: #ade9b2;

	--color-red-800: #810c0c;
	--color-red-500: #f44336;
	--color-red-300: #f8a7a7;
	--color-red-100: #ffcdd2;

	--color-orange-800: #d15e00;
	--color-orange-500: #ff9800;
	--color-orange-300: #ffb74d;
	--color-orange-100: #ffe0b2;

	--color-yellow: #ffc400;

	// Font
	--font-family-base: 'Kumbh Sans', 'sans-serif';
	--font-size-default: #{fluid-text(18, 14)};
	--font-size-s: #{fluid-text(14, 12)};

	// Border
	--border-weight-soft: #{rem(1)};
	--border-weight-hard: #{rem(2)};
	--border-radius-s: #{rem(4)};
	--border-radius-m: #{rem(6)};
	--border-radius-l: #{rem(10)};
	--border-radius-full: 9999px;

	// Opacity
	--opacity-disabled: 0.6;

	// Button height
	--button-height-xxs: #{rem(25)};
	--button-height-xs: #{rem(35)};
	--button-height-s: #{rem(45)};

	// Button medium
	--button-height-m: #{rem(55)};
	--button-padding-inline-m: #{rem(20)};
	--button-padding-block-m: #{rem(14)};

	// Button large
	--button-height-l: #{rem(65)};
	--button-padding-inline-l: #{rem(24)};
	--button-padding-block-l: #{rem(18)};
	
	--actions-margin: calc(var(--button-height-xxs) / 4);

	// Form
	--form-margin-m: calc(var(--button-height-s) / 4);
	--field-default-width: #{rem(350)};

	// Icon size
	--fz-icon-xxs: calc(var(--button-height-xxs) / 2);
	--fz-icon-xs: calc(var(--button-height-xs) / 2);
	--fz-icon-s: calc(var(--button-height-s) / 2);
	--fz-icon-m: calc(var(--button-height-m) / 2);
	--fz-icon-l: calc(var(--button-height-l) / 2);

	--container-width: #{rem(1600)};
    --container-padding-x: #{rem(16)};

	--padding-20: #{rem(20)};
	--padding-15: #{rem(15)};
	--padding-10: #{rem(10)};

	@include laptop {
        --container-width: #{rem(1280)};

		// Button l
		--button-height-l: #{rem(59)};
		--button-padding-inline-l: #{rem(21)};
		--button-padding-block-l: #{rem(16)};

		// Button m
		--button-height-m: #{rem(50)};
		--button-padding-inline-m: #{rem(18)};
		--button-padding-block-m: #{rem(12)};

		--button-height-s: #{rem(40)};
		--button-height-xs: #{rem(32)};
		--button-height-xxs: #{rem(23)};

		--padding-20: #{rem(18)};
		--padding-15: #{rem(13)};
		--padding-10: #{rem(9)};
    }
}