@use './helpers' as *;

:root {
	--container-width: 1600px;
	--container-padding-x: 16px;

	--font-size-1: 12px;
	--font-size-2: 14px;
	--font-size-3: 16px;
	--font-size-4: 18px;
	--font-size-5: 22px;

	--border-radius-s: 4px;
	--border-radius-m: 9px;
	--border-radius-full: 999px;

	--header-height: 60px;

	--border-weight-soft: 1px;
	--border-weight-hard: 2px;

	--button-height-xs: 25px;
	--button-padding-inline-xs: 9px;

	--button-height-s: 35px;
	--button-padding-inline-s: 12px;

	--button-height-m: 45px;
	--button-padding-inline-m: 16px;

	--button-height-l: 55px;
	--button-padding-inline-l: 20px;

	--field-height-s: var(--button-height-s);

	--field-height-m: var(--button-height-m);
	--field-padding-inline-m: var(--button-padding-inline-m);

	--field-height-l: var(--button-height-l);
	--field-padding-inline-l: var(--button-padding-inline-l);
	

	--padding-5: 5px;
	--padding-10: 10px;
	--padding-15: 15px;
	--padding-20: 20px;
	--padding-25: 25px;
	--padding-30: 30px;

	--icon-size-xs: calc(var(--button-height-xs) / 2);
	--icon-size-s: calc(var(--button-height-s) / 2);
	--icon-size-m: calc(var(--button-height-m) / 2);
	--icon-size-l: calc(var(--button-height-l) / 2);

	--outline-offset: calc(var(--border-weight-soft) * -1);

	@include mobile {
		--button-height-xs: 20px;
		--button-padding-inline-s: 7px;

		--button-height-s: 28px;
		--button-padding-inline-s: 10px;

		--button-height-m: 36px;
		--button-padding-inline-m: 13px;

		--button-height-l: 44px;
		--button-padding-inline-l: 16px;
	}

	// Colors
	--color-dark: #141414;
	--color-light: #fff;

	--primary-hue: 262;
	--primary-saturation: 33%;
	--primary-lightness: 35%;
	--color-primary-800: #4f3c70; // border dark theme
	--color-primary-600: #9976d6; // main light theme
	--color-primary-500: #b28bf5; // main dark theme
	--color-primary-400: #c9c3fd; 
	--color-primary-300: ; // border light theme
	--color-primary-opacity-soft: hsla(
		var(--primary-hue),
		var(--primary-saturation),
		var(--primary-lightness),
		0.1
	); // hover
	--color-primary-opacity-medium: hsla(
		var(--primary-hue),
		var(--primary-saturation),
		var(--primary-lightness),
		0.2
	); // selected
	--color-primary-opacity-hard: hsla(
		var(--primary-hue),
		var(--primary-saturation),
		var(--primary-lightness),
		0.3
	); // hover on selected

	--grey-hue: 262;
	--grey-saturation: 33%;
	--grey-lightness: 35%;
	--color-grey-900: #212121;	// bg dark theme
	--color-grey-800: #424242; // border dark theme
	--color-grey-600: #9e9e9e; // main light theme
	--color-grey-500: #9e9e9e; // main dark theme
	--color-grey-300: #cfcfcf; // border light theme
	--color-grey-200: #f0f0f0;	// bg light theme
	--color-grey-opacity-soft: hsla(
		var(--grey-hue),
		var(--grey-saturation),
		var(--grey-lightness),
		0.1
	); // hover
	--color-grey-opacity-medium: hsla(
		var(--grey-hue),
		var(--grey-saturation),
		var(--grey-lightness),
		0.2
	); // selected
	--color-grey-opacity-hard: hsla(
		var(--grey-hue),
		var(--grey-saturation),
		var(--grey-lightness),
		0.3
	); // hover on selected

	--red-hue: 262;
	--red-saturation: 33%;
	--red-lightness: 35%;
	--color-red-900: #2b0303; // bg color dark theme
	--color-red-800: #570909; // border dark theme
	--color-red-600: #961d1d; // main light theme
	--color-red-500: #f87878; // main dark theme
	--color-red-400: #f87878; // main dark theme
	--color-red-300: #d62828; // border light theme
	--color-red-200: #fcbdbd; // bg color light theme
	--color-red-opacity-soft: hsla(
		var(--red-hue),
		var(--red-saturation),
		var(--red-lightness),
		0.1
	); // hover

	--green-hue: 262;
	--green-saturation: 33%;
	--green-lightness: 35%;
	--color-green-900: #072c0d; // bg color dark theme
	--color-green-800: #2f4228; // border dark theme
	--color-green-600: #405738; // main light theme
	--color-green-500: #74d653; // main dark theme
	--color-green-300: #74d653; // border light theme
	--color-green-200: #dcf8d3; // bg color light theme
	--color-green-opacity-soft: hsla(
		var(--green-hue),
		var(--green-saturation),
		var(--green-lightness),
		0.1
	); // hover

	--orange-hue: 262;
	--orange-saturation: 33%;
	--orange-lightness: 35%;
	--color-orange-900: #072c0d; // bg color dark theme
	--color-orange-800: #2f4228; // border dark theme
	--color-orange-600: #405738; // main light theme
	--color-orange-500: #74d653; // main dark theme
	--color-orange-300: #74d653; // border light theme
	--color-orange-200: #dcf8d3; // bg color light theme
	--color-orange-opacity-soft: hsla(
		var(--orange-hue),
		var(--orange-saturation),
		var(--orange-lightness),
		0.1
	); // hover
}
