.icon {
  display: inline-flex;
  height: 1em;
  aspect-ratio: 1;
  svg {
    fill: currentColor;
    stroke: currentColor;
  }
}

// Sizes
.icon {
  &.small-xx {
    font-size: var(--fz-icon-xxs);
  }
  &.small-x {
    font-size: var(--fz-icon-xs);
  }
  &.small {
    font-size: var(--fz-icon-s);
  }
  &.medium {
    font-size: var(--fz-icon-m);
  }
  &.large {
    font-size: var(--fz-icon-l);
  }
  &.inherit {
    font-size: inherit;
  }
}
