@use '@/app/styles/helpers' as *;

.thumb {
	--thumbHeight: ;
	--boxShadow: 0 0 0 var(--border-weight-soft) var(--theme-color-primary-main);
	@include user-select-off;
	position: absolute;
	height: var(--thumbHeight);
	width: var(--thumbHeight);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--theme-color-primary-main);
	box-shadow: 0 0 var(--border-weight-soft) var(--border-color-grey);
	border-radius: 50%;
	z-index: 10;
	&:before {
		content: '';
		position: absolute;
		border-radius: inherit;
		height: 200%;
		width: 200%;
		transition-duration: 0.2s;
	}
	@include hover {
		&:before {
			box-shadow: var(--boxShadow);
		}
		.tooltip {
			opacity: 1;
			transform: scale(1);
		}
	}
	&:focus {
		z-index: 11;
		&:before {
			box-shadow: var(--boxShadow);
		}
		.tooltip {
			opacity: 1;
			transform: scale(1);
		}
		&.dragging {
			&:before {
				width: 230%;
				height: 230%;
			}
		}
	}
	input {
		visibility: hidden;
	}
}

// Orientation
.thumb {
	&.horizontal {
		top: 50%;
		translate: -50% -50%;
	}
	&.vertical {
		left: 50%;
		translate: -50% 50%;
	}
}

// Sizes
.thumb {
	&.small {
		--thumbHeight: calc(var(--button-height-xs) / 2);
	}
	&.medium {
		--thumbHeight: calc(var(--button-height-s) / 2);
	}
}
