.scroll-area {
    --scroll-area-content-padding: ;
    --scroll-area-scrollbar-width: 4px;
    --scroll-area-clickable-scrollbar-width: 16px;
    --scroll-area-scrollbar-margin: 10px;
    
    &.content-padding-m {
        --scroll-area-content-padding: var(--button-padding-inline-m);
    }
    &.content-padding-l {
        --scroll-area-content-padding: var(--padding-20);
    }
    &.border {
        .viewport {
            border-radius: var(--border-radius-m);
            outline: var(--border-weight-soft) solid var(--border-color-grey);
            outline-offset: calc(var(--border-weight-soft) * -1);
        }
    }

    &.orientation-horizontal,
    &.orientation-both {
        .content {
            padding-bottom: max(var(--scroll-area-clickable-scrollbar-width), var(--scroll-area-content-padding));
        }
    }

    &.direction-ltr {
        &.orientation-both {
            .scrollbar {
                margin-bottom: 0px;
                margin-right: 0px;
            }
        }
        &.orientation-vertical,
        &.orientation-both {
            .content {
                padding-right: max(var(--scroll-area-clickable-scrollbar-width), var(--scroll-area-content-padding));
            }
        }

    }
    &.direction-rtl {
        &.orientation-both {
            .scrollbar {
                margin-bottom: 0px;
                margin-left: 0px;
            }
        }
        &.orientation-vertical,
        &.orientation-both {
            .content {
                padding-left: max(var(--scroll-area-clickable-scrollbar-width), var(--scroll-area-content-padding));
            }
        }
    }
}

.viewport {
	height: 100%;
	overscroll-behavior: contain;
    
    &:focus-visible {
        outline-offset: calc(var(--border-weight-soft) * -1);
        outline: var(--border-weight-hard) solid var(--theme-color-primary-main) !important;
    }
}

.content {
	padding: var(--scroll-area-content-padding);
}

.scrollbar {
    display: flex;

    &:before {
        content: '';
        position: absolute;
        background-color: var(--border-color-grey);
        border-radius: var(--border-radius-full);
    }

    &:not(.always-visible-scrollbar) {
        opacity: 0;
        transition: opacity 150ms 300ms;

        &.scrolling,
        &.hovering {
            opacity: 1;
            transition-duration: 75ms;
            transition-delay: 0ms;
        }
    }

    &.orientation-vertical {
        width: var(--scroll-area-clickable-scrollbar-width);
        justify-content: center;
        margin-block: var(--scroll-area-scrollbar-margin);

        &:before {
            height: 100%;
            width: var(--scroll-area-scrollbar-width);
        }

        .thumb {
            width: 100%;
            justify-content: center;
            &:before {
                width: var(--scroll-area-scrollbar-width);
                height: 100%;
            }
        }
    }

    &.orientation-horizontal {
        height: var(--scroll-area-clickable-scrollbar-width);
        align-items: center;
        margin-inline: var(--scroll-area-scrollbar-margin);

        &:before {
            width: 100%;
            height: var(--scroll-area-scrollbar-width);
        }

        .thumb {
            height: 100%;
            align-items: center;
            &:before {
                height: var(--scroll-area-scrollbar-width);
                width: 100%;
            }
        }
    }
}

.thumb {
    display: flex;

    &:before {
        content: '';
        background-color: var(--theme-color-grey-main);
        border-radius: var(--border-radius-full);
    }
}
