.viewport {
    position: fixed;
    width: 360px;

    &.position-bottom-right {
        right: var(--padding-25);
        bottom: var(--padding-25);
    }
    &.position-top-center {
        top: var(--padding-25);
        left: 50%;
        transform: translateX(-50%);
    }
}