@use '@/app/styles/helpers' as *;

.select {
    &.default-width {
        width: var(--field-default-width);
    }
    &.opened {
        .arrow-icon {
            rotate: 180deg;
        }
    }
}

.field {
    cursor: pointer;
}

.content {
    width: 100%;
}

.selected-values {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-6);
    color: var(--font-color-hard);
}

.placeholder {
    color: var(--font-color-soft);
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height-xxs);
    width: var(--button-height-xxs);
    transform: rotate(-90deg);
    transition-duration: 0.2s;
}

.menu {
    background-color: var(--theme-color-dark);
    border: var(--border-weight-soft) solid var(--border-color-grey);
    padding-block: var(--padding-6);
    border-radius: var(--border-radius-s);
    width: 100%;
    overflow-y: auto;
}

.focused {
    background-color: var(--color-grey-opacity);
}