.form-label {
	width: max-content;
    
    &.color-soft {
        color: var(--font-color-soft);
    }
    &.color-hard {
        color: var(--font-color-hard);
    }

    &.focused {
        color: var(--theme-color-primary-main);
    }
    &.errored {
        color: var(--font-color-red-hard);
    }
}

.required-indicator {
    color: var(--font-color-soft);
    @include user-select-off;
}