.form-label {
	width: max-content;
	transition: color 0.2s;
	cursor: inherit;

    &.color-soft {
        color: var(--font-color-soft);
    }
    &.color-hard {
        color: var(--font-color-hard);
    }

    &.focused {
        color: var(--theme-color-primary-main);
    }
    &.errored {
        color: var(--font-color-red-soft);
    }
    &.disabled {
        @include disabled;
    }
}