@use '@/app/styles/helpers' as *;

.marker {
    --height: ;
    --color: var(--font-color-soft);
    --emulatorScale: 0;
    --labelPaddingBlock: #{rem(5)};
    --labelPaddingInline: #{rem(8)};
	position: absolute;
	height: var(--height);
	width: var(--height);
	background-color: var(--trackColor);
	border-radius: 50%;
	font-size: var(--font-size-s);
	color: var(--color);
	transition-duration: 0.2s;
	border: var(--border-weight-soft) solid var(--border-color-grey);
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: '';
		width: 40%;
		height: 40%;
		background-color: var(--theme-color-primary-main);
		border-radius: inherit;
		transform: scale(var(--emulatorScale));
	}
	&.active {
        --emulatorScale: 1;
		--color: var(--font-color-hard);
		border-color: var(--theme-color-primary-main);
	}
}

.label {
    position: absolute;
    pointer-events: none;
}

// Orientation
.marker {
    &.horizontal {
        top: 50%;
        translate: -50% -50%;
    }
    &.vertical {
        left: 50%;
        translate: -50% 50%;
    }
}

// Label positions
.marker {
    &.bottom {
        .label {
            top: 100%;
            padding-top: var(--labelPaddingBlock);
        }  
    }
    &.top {
        .label {
            bottom: 100%;
            padding-bottom: var(--labelPaddingBlock);
        }  
    }
    &.left {
        .label {
            right: 100%;
            padding-right: var(--labelPaddingInline);
        }
    }
    &.right {
        .label {
            left: 100%;
            padding-left: var(--labelPaddingInline);
        } 
    }
}

// Sizes
.marker {
    &.small {
        --height: #{rem(10)};
    }
    &.medium {
        --height: #{rem(15)};
    }
}
