@use '@/app/styles/helpers' as *;

.form-group {
	--marginLeft: ;
	--legendColor: var(--font-color-hard);
	margin: 0px;
	&:focus-within {
		--legendColor: var(--theme-color-primary-main);
	}
	&.errored {
		--legendColor: var(--color-red-500);
		.items {
			animation: snaking 0.5s;
		}
	}
	&.required {
		.legend:after {
			@include required-label;
		}
	}
	&.hidden-legend {
		.legend {
			@include visually-hidden;
		}
	}
}

.legend {
	padding: 0px;
	color: var(--legendColor);
}

.items {
	display: flex;
}

// Directions
.form-group {
	&.horizontal {
		.items {
			column-gap: var(--padding-10);
		}
	}
	&.vertical {
		.items {
			flex-direction: column;
		}
	}
}
