.button {
	--button-height: ;
	--button-padding-inline: ;
	--button-color: ;
	--button-bg-color: ;
	--button-hover-bg-color: ;
	position: relative;
	height: var(--button-height);
	padding-block: 0px;
	transition: background-color 0.2s, color 0.2s, opacity 0.2s;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	border: none;
	color: var(--button-color);
	background-color: var(--button-bg-color);
	@include user-select-off;

	@include hover {
		background-color: var(--button-hover-bg-color);
	}

	&:not(.icon-button) {
		column-gap: calc(var(--button-padding-inline) / 2);
		padding-inline: var(--button-padding-inline);
	}
	&.icon-button {
		min-width: var(--button-height);
		padding-inline: 5px;
		font-size: calc(var(--button-height) / 2);
		flex-shrink: 0;
	}

	&.full-width {
		width: 100%;
	}

	&.size-xs {
		--button-padding-inline: var(--button-padding-inline-xs);
		--button-height: var(--button-height-xs);
	}
	&.size-s {
		--button-padding-inline: var(--button-padding-inline-s);
		--button-height: var(--button-height-s);
	}
	&.size-m {
		--button-padding-inline: var(--button-padding-inline-m);
		--button-height: var(--button-height-m);	
	}
	&.size-l {
		--button-padding-inline: var(--button-padding-inline-l);
		--button-height: var(--button-height-l);
	}

	&.variant-filled {
		&.color-primary {
			--button-outline-offset: 3px;
			--button-color: var(--font-color-hard-invert);
			--button-bg-color: var(--theme-color-primary-main);
			--button-hover-bg-color: var(--theme-color-primary-main-light);
		}
		&.color-secondary {
			--button-color: var(--font-color-hard);
			--button-bg-color: var(--theme-color-grey-dark);
			--button-hover-bg-color: var(--theme-color-grey-light);
		}
		&.color-red {
			--button-color: var(--font-color-hard-invert);
			--button-bg-color: var(--theme-color-red-main);
			--button-hover-bg-color: var(--theme-color-red-main-light);
		}
		&.color-green {
			--button-color: var(--font-color-hard-invert);
			--button-bg-color: var(--theme-color-green-main);
			--button-hover-bg-color: var(--theme-color-green-main-light);
		}
	}
	&.variant-outlined {
		--button-bg-color: transparent;
		--button-border-color: ;
		outline: var(--border-weight-soft) solid var(--button-border-color);
		outline-offset: var(--outline-offset);
		
		@include hover {
			outline-color: var(--button-color);
		}

		&.color-primary {
			--button-color: var(--theme-color-primary-main);
			--button-border-color: var(--border-color-primary);
			--button-hover-bg-color: var(--color-primary-opacity-soft);
		}
		&.color-secondary {
			--button-color: var(--font-color-hard);
			--button-border-color: var(--border-color-grey);
			--button-hover-bg-color: var(--color-grey-opacity-soft);
		}
		&.color-red {
			--button-color: var(--theme-color-red-main);
			--button-border-color: var(--border-color-red);
			--button-hover-bg-color: var(--color-red-opacity-soft);
		}
		&.color-green {
			--button-color: var(--theme-color-green-main);
			--button-border-color: var(--border-color-green);
			--button-hover-bg-color: var(--color-green-opacity-soft);
		}
	}
	&.variant-clear {
		--button-bg-color: transparent;
		--button-border-color: ;

		&.color-primary {
			--button-color: var(--theme-color-primary-main);
			--button-hover-bg-color: var(--color-primary-opacity-soft);
		}
		&.color-secondary {
			--button-color: var(--font-color-hard);
			--button-hover-bg-color: var(--color-grey-opacity-soft);
		}
		&.color-red {
			--button-color: var(--theme-color-red-main);
			--button-hover-bg-color: var(--color-red-opacity-soft);
		}
		&.color-green {
			--button-color: var(--theme-color-green-main);
			--button-hover-bg-color: var(--color-green-opacity-soft);
		}
	}

	&:focus-visible {
		outline: var(--border-weight-hard) solid var(--theme-color-primary-main);
		outline-offset: var(--button-outline-offset);
	}

	&.disabled {
		@include disabled;
	}
	&.loading {
		color: transparent !important;
		opacity: 1 !important;
	}

	.loader {
		height: calc(var(--buttonHeight) / 2);
		width: calc(var(--buttonHeight) / 2);
		color: var(--textColor);
		transition: color 0.3s;
	}
}

