@use '@/app/styles/helpers' as *;

.checkbox {
	--height: ;
	--fz: ;
	--bgColor: ;
	--bgColorChecked: ;
	--borderColor: var(--border-color-grey);
	--borderColorChecked: var(--bgColorChecked);
	--iconColor: ;
	--checkedIconColor: ;
	--color: ;
	--boxShadow: 0 0 0 var(--border-weight-soft) var(--border-color-grey);
	position: relative;
	height: var(--height);
	width: var(--height);
	border-radius: 50%;
	transition-duration: 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: var(--fz);
	color: var(--color);
	&:before {
		position: absolute;
		content: '';
		height: 50%;
		width: 50%;
		border-radius: var(--border-radius-s);
		transition-duration: inherit;
		background-color: var(--bgColor);
		border: var(--border-weight-soft) solid var(--borderColor);
	}
	&:after {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
	}
	@include hover {
		box-shadow: var(--boxShadow);
	}
}

.input {
	@include visually-hidden;
	&:focus-visible + .checkbox:after {
		box-shadow: var(--boxShadow);
		animation: ripple 1s infinite;
	}
	&:checked + .checkbox {
		--bgColor: var(--bgColorChecked);
		--borderColor: var(--borderColorChecked);
		--shadowColor: var(--color);
		.checked-icon {
			opacity: 1;
		}
	}
}

.icon {
	position: absolute;
	display: inline-flex;
	transition-duration: inherit;
	color: var(--iconColor);
}

.checked-icon {
	position: absolute;
	display: inline-flex;
	transition-duration: inherit;
	color: var(--checkedIconColor);
	opacity: 0;
}

// Colors
.checkbox {
	&.primary {
		--bgColorChecked: var(--theme-color-primary-main);
		--color: var(--theme-color-primary-main);
	}
	&.red {
		--bgColorChecked: var(--color-red-500);
		--color: var(--color-red-500);
	}
}

// Variants
.checkbox {
	&.filled {
		--checkedIconColor: var(--font-color-onDark);
		--bgColor: var(--theme-color-grey-dark);
	}
	&.outlined {
		--bgColor: transparent;
		--checkedIconColor: var(--font-color-onDark);
	}
	&.clear {
		--iconColor: var(--border-color-grey);
		--checkedIconColor: var(--color);
		--bgColor: transparent;
		--bgColorChecked: transparent;
		--borderColor: transparent;
		--borderColorChecked: transparent;
	}
}

// Sizes
.checkbox {
	&.medium {
		--height: var(--button-height-s);
		--fz: var(--fz-icon-xs);
		&.clear {
			--fz: var(--fz-icon-s);
		}
	}
}

// Offset
.checkbox {
	&.left {
		margin-left: var(--form-margin-m);
	}
	&.right {
		margin-right: var(--form-margin-m);
	}
	&.center-horizontal {
		margin-inline: var(--form-margin-m);
	}
	&.top {
		margin-top: var(--form-margin-m);
	}
	&.bottom {
		margin-bottom: var(--form-margin-m);
	}
	&.center-vertical {
		margin-block: var(--form-margin-m);
	}
	&.all {
		margin: var(--form-margin-m);
	}
}

// Mods
.checkbox-wrapper {
	&.disabled {
		@include disabled;
	}
}
