@use '@/app/styles/helpers' as *;

.text-field {
    &.default-width {
        width: var(--field-default-width);
    }
}

.field {
    --clearButtonOpacity: 0;
    --clearButtonPointerEvents: none;
    cursor: text;
    &.dirty {
        @include hover {
            --clearButtonOpacity: 1;
            --clearButtonPointerEvents: all;
        }
        &.focused {
            --clearButtonOpacity: 1;
            --clearButtonPointerEvents: all;
        }
    }
}

.input,
.text-area {
    color: var(--font-color-hard);
    background-color: transparent;
    border: none;
    padding: 0px;
    text-overflow: ellipsis;
    width: 100%;
    &::placeholder {
        color: var(--font-color-soft);
    }
}

.text-area {
    resize: none;
    overflow-y: hidden;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-6);
    width: 100%;
    overflow: hidden;
}

.clear-button {
    opacity: var(--clearButtonOpacity);
    pointer-events: var(--clearButtonPointerEvents);
}
