.toast {
	--toast-ratio: ;
	--toast-invert-ration: ;
	--toast-gap: 8px;
	--toast-corrected-offset-y: calc(
		var(--toast-offset-y) * var(--toast-invert-ration) +
			(var(--toast-index) * var(--toast-gap) * var(--toast-invert-ration)) +
			var(--toast-swipe-movement-y)
	);
	position: absolute;
	width: 100%;
	background-clip: padding-box;
	z-index: calc(1000 - var(--toast-index));
	transform: translateX(var(--toast-swipe-movement-x))
		translateY(
			calc(var(--toast-swipe-movement-y) + (min(var(--toast-index), 10) * var(--toast-ratio)))
		)
		scale(calc(max(0, 1 - (var(--toast-index) * 0.1))));
	transition:
		transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
		opacity 0.5s;
	@include user-select-off;

	&:focus-visible {
		@include focus-outline;
	}

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		height: calc(var(--toast-gap) + 1px);
		background-color: red;
	}

	&.expanded {
		transform: translateX(var(--toast-swipe-movement-x))
			translateY(var(--toast-corrected-offset-y));
	}

	&.limited {
		opacity: 0;
	}

	&.position-top-center {
		--toast-ratio: 20%;
		--toast-invert-ration: 1;
		top: 0;
		right: 0;

		&:after {
			bottom: 100%;
		}

		&.transition-status-starting,
		&.transition-status-ending {
			transform: translateY(-150%);
		}
	}
	&.position-bottom-right {
		--toast-ratio: -20%;
		--toast-invert-ration: -1;
		bottom: 0;
		right: 0;

		&:after {
			top: 100%;
		}

		&.transition-status-starting,
		&.transition-status-ending {
			transform: translateY(150%);
		}
	}

	&.transition-status-ending {
		opacity: 0;

		&.swipe-direction-up {
			transform: translateY(calc(var(--toast-swipe-movement-y) - 150%));
		}
		&.swipe-direction-right {
			transform: translateX(calc(var(--toast-swipe-movement-x) + 150%))
				translateY(var(--toast-corrected-offset-y));
		}
		&.swipe-direction-down {
			transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
		}
	}
}
