@use '@/app/styles/helpers' as *;

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: var(--padding-15);
    width: 100%;
    padding-inline: var(--padding-15);
    padding-block: var(--padding-10);
    cursor: pointer;
    text-align: start;
    &.selected {
        .bg {
            background-color: var(--color-primary-opacity);
        }
    }
    &.disabled {
        @include disabled;
    }
    &.readonly {
        pointer-events: none;
    }
}

.bg {
    position: absolute;
    inset: 0;
}

.check-mark {
    margin-left: auto;
}

