@use '@/app/styles/helpers' as *;

.switch {
  --height: ;
  --paddingInline: ;
  --width: var(--height);
  --translateX: calc((var(--width) - var(--height) / 2) / 2);
  --trackColor: var(--theme-color-grey-900);
  --trackColorChecked: var(--theme-color-primary-500);
  --borderColor: var(--border-color-grey);
  --borderColorChecked: var(--trackColorChecked);
  --thumbColor: var(--color-grey-500);
  --thumbColorChecked: var(--theme-color-primary-600);
  cursor: pointer;
  padding-inline: var(--paddingInline);
  height: var(--height);
  display: flex;
  align-items: center;
  color: var(--theme-color-primary-500);
  @include hover {
    .thumb {
      box-shadow: 0 0 0 var(--border-weight-soft) var(--borderColor);
    }
  }
}

.track {
  height: 30%;
  width: var(--width);
  background-color: var(--trackColor);
  border-radius: var(--border-radius-full);
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-weight-soft) solid var(--borderColor);
}

.thumb {
  transform: translateX(calc(var(--translateX) * -1));
  height: var(--height);
  aspect-ratio: 1;
  border-radius: 50%;
  transition-duration: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:before {
    content: '';
    height: 50%;
    aspect-ratio: 1;
    border-radius: inherit;
    background-color: var(--thumbColor);
    transition-duration: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
}

.input {
  @include visually-hidden;
  &:focus-visible + .track {
    .thumb:after {
      box-shadow: 0 0 0 var(--border-weight-soft) var(--borderColor);
      animation: ripple 1s infinite;
    }
  }
}

// Mods
.switch {
  &.checked {
    --trackColor: var(--trackColorChecked);
    --borderColor: var(--borderColorChecked);
    --thumbColor: var(--thumbColorChecked);
    .thumb {
      transform: translateX(var(--translateX));
    }
  }
  &.disabled {
    @include disabled;
  }
}

// Sizes
.switch {
  &.medium {
    --height: var(--button-height-s);
    --paddingInline: calc(var(--height) / 4);
  }
}