@use '@/app/styles/helpers' as *;

.switch {
  --height: ;
  --paddingInline: ;
  --width: var(--height);
  --boxShadow: 0 0 0 var(--border-weight-soft) var(--border-color-grey);
  height: var(--height);
  padding-inline: var(--paddingInline);
  display: flex;
  align-items: center;
  color: var(--theme-color-primary-main);
  cursor: pointer;
  @include hover {
    .thumb {
      box-shadow: var(--boxShadow);
    }
  }
}

.track {
  --translateX: calc((var(--width) - var(--height) / 2) / 2);
  --trackColor: var(--theme-color-grey-dark);
  --borderColor: var(--border-color-grey);
  --thumbColor: var(--color-grey-500);
  height: 30%;
  width: var(--width);
  background-color: var(--trackColor);
  border-radius: var(--border-radius-full);
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-weight-soft) solid var(--borderColor);
}

.thumb {
  transform: translateX(calc(var(--translateX) * -1));
  height: var(--height);
  aspect-ratio: 1;
  border-radius: 50%;
  transition-duration: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:before {
    content: '';
    height: 50%;
    aspect-ratio: 1;
    border-radius: inherit;
    background-color: var(--thumbColor);
    transition-duration: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
}

.input {
  @include visually-hidden;
  &:focus-visible + .track {
    .thumb:after {
      box-shadow: var(--boxShadow);
      animation: ripple 1s infinite;
    }
  }
  &:checked + .track {
    --trackColor: var(--theme-color-primary-main);
    --borderColor: var(--theme-color-primary-main);
    --thumbColor: var(--theme-color-primary-light);
    .thumb {
      transform: translateX(var(--translateX));
      &:before {
        box-shadow: 0 0 0 var(--border-weight-soft) var(--theme-color-primary-secondary);
      }
    }
  }
}

// Mods
.switch {
  &.disabled {
    @include disabled;
  }
}

// Sizes
.switch {
  &.medium {
    --height: var(--button-height-s);
    --paddingInline: calc(var(--form-margin-m) * -1);
  }
}

// Offset
.switch {
	&.left {
		margin-left: var(--form-margin-m);
	}
	&.right {
		margin-right: var(--form-margin-m);
	}
	&.center-horizontal {
		margin-inline: var(--form-margin-m);
	}
	&.top {
		margin-top: var(--form-margin-m);
	}
	&.bottom {
		margin-bottom: var(--form-margin-m);
	}
	&.center-vertical {
		margin-block: var(--form-margin-m);
	}
  &.all {
    margin: var(--form-margin-m);
  }
}