.backdrop {
    &.visible {
        background-color: var(--backdrop-bg-color);
        opacity: 0;
        transition: opacity 0.2s;
        backdrop-filter: blur(2px);
    
        &.open {
            opacity: 1;
        }
    }
}

.popup {
    position: fixed;
    background-color: var(--theme-color-dark);
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;

    &.position-left {
        left: 0;
        top: 0;
        height: 100%;
        transform: translateX(-100%);
        border-right: var(--border-weight-soft) solid var(--border-color-grey);
    }
    &.position-right {
        right: 0;
        top: 0;
        height: 100%;
        transform: translateX(100%);
        border-left: var(--border-weight-soft) solid var(--border-color-grey);
    }
    &.position-top {
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        border-bottom: var(--border-weight-soft) solid var(--border-color-grey);
    }
    &.position-bottom {
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(100%);
        border-top: var(--border-weight-soft) solid var(--border-color-grey);
    }

    &.open {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}




