.base-corner {
    position: absolute;
    bottom: 0;
    width: var(--scroll-area-corner-width);
    height: var(--scroll-area-corner-height);

    @include user-select-off;

    &.direction-ltr {
        right: 0;
    }
    &.direction-rtl {
        left: 0;
    }
}