@use '@/app/styles/helpers' as *;

.menu {
    overflow: hidden;
    box-shadow: 0 0 0 var(--border-weight-soft) var(--border-color-grey);
	border-radius: var(--border-radius-s);
	background-color: var(--theme-color-grey-900);
	animation: fade-mounting 0.2s;
}

.active {
	background-color: var(--color-grey-opacity);
}
