@use '@/app/styles/helpers' as *;

.alert {
    --borderColor: ;
    --actionsMargin: calc(var(--actions-margin) * -1);
    display: flex;
    align-items: center;
    padding-inline: var(--padding-20);
    padding-block: var(--padding-15);
    gap: var(--padding-20);
    &.have-action {
        .content {
            margin-right: var(--actionsMargin);
        }
    }
}

.actions {
     display: flex;
     align-items: center;
     margin-left: auto;
     margin-right: var(--actionsMargin);
}

// Border radius
.alert {
    &.medium {
        border-radius: var(--border-radius-m);
    }
    &.large {
        border-radius: var(--border-radius-l);
    }
}

// Severity
.alert {
    &.success {
        --borderColor: var(--border-color-green);
        background-color: var(--color-green-300);
        color: var(--color-green-700);  
    }
    &.info {
        --borderColor: var(--border-color-grey);
        background-color: var(--theme-color-grey-light);
        color: var(--font-color-hard);
    }
    &.warning {
        --borderColor: var(--border-color-orange);
        background-color: var(--color-orange-300);
        color: var(--color-orange-700);
    }
    &.error {
        --borderColor: var(--border-color-red);
        background-color: var(--color-red-300);
        color: var(--color-red-700);
    }
}

// Variants
.alert {
    &.outlined {
        border: var(--border-weight-soft) solid var(--borderColor);
        background-color: transparent;
    }
    &.clear {
        background-color: transparent;
    }
    &.outlined,
    &.clear {
        &.success {
            color: var(--color-green-500);
        }
        &.info {
            color: var(--font-color-hard);
        }
        &.warning {
            color: var(--color-orange-500);
        }
        &.error {
            color: var(--color-red-500);
        }
    }
}

