@use '@/app/styles/helpers' as *;

.field-wrapper {
	--height: ;
	--bgColor: ;
	--paddingInline: ;
	--labelColor: var(--font-color-hard);
	--borderColor: var(--border-color-grey);
	--borderColorHover: var(--color-grey-500);
	--borderColorFocus: var(--theme-color-primary-main);
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--form-margin-m) * -1);
}

.field {
	--border: var(--border-weight-soft) solid var(--borderColor);
	position: relative;
	min-height: var(--height);
	border: var(--border);
	border-radius: var(--border-radius-m);
	background-color: var(--bgColor);
	transition-duration: 0.2s;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.label {
	color: var(--labelColor);
	transition-duration: 0.2s;
}

.start-adornment {
	padding-inline: var(--paddingInline);
	border-right: var(--border-weight-soft) solid var(--border-color-grey);
}

.actions {
	display: flex;
	padding-inline: calc(var(--paddingInline) - var(--actions-margin));
}

// Variants
.field-wrapper {
	&.filled {
		--bgColor: var(--theme-color-grey-dark);
		--paddingInline: var(--padding-15);
	}
	&.outlined {
		--bgColor: transparent;
		--paddingInline: var(--padding-15);
	}
	&.filled,
	&.outlined {
		--actionsMarginRight: calc(var(--paddingInline) + var(--actions-margin) * -1)
	}

	&.clear {
		--paddingInline: 0px;
		.start-adornment {
			padding-right: var(--padding-15);
			margin-right: var(--padding-15);
		}
		.field {
			--border: none;
			border-bottom: var(--border-weight-soft) solid var(--borderColor);
			border-radius: 0px;
		}
	}
}

// Label variants
.field-wrapper {
	&.on-border {
		--labelTranslateTop: #{rem(-10)};
		.label {
			position: absolute;
			z-index: 1;
			font-size: var(--font-size-s);
			left: 0px;
			top: 0px;
			translate: var(--paddingInline) var(--labelTranslateTop);
		}
		.fieldset {
			position: absolute;
			inset: var(--labelTranslateTop) 0 0;
			border: var(--border);
			border-bottom: var(--border-weight-soft) solid var(--borderColor);
			border-radius: inherit;
			margin: 0px;
			pointer-events: none;
			transition: border-color 0.2s;
		}
		.legend {
			padding-inline: rem(5);
			margin-left: calc(var(--paddingInline) - rem(6));
			font-size: var(--font-size-s);
			opacity: 0;
		}
		.field {
			border: none;
		}
		.helper-text {
			margin-left: var(--paddingInline);
		}
	}
	&.hidden {
        .label {
            @include visually-hidden;
        }
	}
}

// Sizes
.field-wrapper {
	&:not(.clear) {
		&.medium {
			--height: var(--button-height-m);
		}
		&.large {
			--height: var(--button-height-l);
		}
	}
	&.clear {
		--height: var(--button-height-xs);
	}
}

.field-wrapper {
	&.errored {
		--borderColor: var(--border-color-red);
		--borderColorHover: var(--color-red-500);
		--labelColor: var(--color-red-500);
        .field {
            animation: snaking 0.5s;
        }
	}
    &:not(.errored) {
        &.focused {
            --labelColor: var(--theme-color-primary-main);
        }
    }
    &.focused {
        --borderColor: var(--theme-color-primary-main);
    }
	&:not(.focused) {
		.field {
			@include hover {
				--borderColor: var(--borderColorHover);
			}
		}
	}
    &.disabled {
        .field {
			@include disabled;
        }
    }
    &.required {
        .label::after {
            @include required-label
        }
    }
}
