.tabs {
    display: flex;
    position: relative;
}

// Orientation
.tabs {
    &.vertical {
        flex-direction: column;
        overflow-y: hidden;
    }
    &.horizontal {
        overflow-x: hidden;
    }
}