@use '@/app/styles/helpers' as *;

.button {
	--bgColorHover: ;
	--borderColor: ;
	--height: ;
	--borderRadius: var(--border-radius-m);
	height: var(--height);
	width: var(--height);
	border: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	transition: background-color 0.2s, color 0.2s, opacity 0.2s;
	flex-shrink: 0;
	font-weight: 500;
	color: inherit;
	@include user-select-off;
}

// Colors
.button {
	&.primary {
		--borderColor: var(--border-color-primary);
		color: var(--theme-color-primary-main);
	}
	&.secondary {
		--borderColor: var(--border-color-grey);
		color: var(--font-color-hard);
	}
	&.green {
		--borderColor: var(--border-color-green);
		color: var(--theme-color-green-main);
	}
	&.red {
		--borderColor: var(--border-color-red);
		color: var(--theme-color-red-main);
	}
	&.orange {
		--borderColor: var(--border-color-orange);
		color: var(--theme-color-orange-main);
	}
}

// Variants
.button {
	&.filled {
		&.primary {
			--bgColorHover: var(--theme-color-primary-light);
			color: var(--font-color-onDark);
			background-color: var(--theme-color-primary-main);
		}
		&.secondary {
			--bgColorHover: var(--theme-color-dark);
			background-color: var(--theme-color-grey-dark);
			border: var(--border-weight-soft) solid var(--borderColor);
		}
		&.green {
			--bgColorHover: var(--theme-color-green-light);
			background-color: var(--theme-color-green-main);
			color: var(--font-color-onDark);
		}
		&.red {
			--bgColorHover: var(--theme-color-red-light);
			background-color: var(--theme-color-red-main);
			color: var(--font-color-onDark);
		}
		&.orange {
			--bgColorHover: var(--theme-color-orange-light);
			background-color: var(--theme-color-orange-main);
			color: var(--font-color-onDark);
		}
		&:not(.inherit) {
			@include hover {
				background-color: var(--bgColorHover);
			}
		}
	}
  &.outlined {
    border: var(--border-weight-soft) solid var(--borderColor);
  }
	&.clear,
	&.outlined {
		background-color: transparent;
		&:after {
			content: '';
			border-radius: inherit;
			position: absolute;
			inset: 0;
			background-color: currentColor;
			opacity: 0;
			transition-duration: inherit;
		}
		@include hover {
			&:after {
				opacity: 0.1;
			}
		}
	}
}

// Sizes
.button {
	&.small-xx {
		--height: var(--button-height-xxs);
		font-size: var(--fz-icon-xxs);
	}
	&.small-x {
		--height: var(--button-height-xs);
		font-size: var(--fz-icon-xs);
	}
	&.small {
		--height: var(--button-height-s);
		font-size: var(--fz-icon-s);
	}
	&.medium {
		--height: var(--button-height-m);
		font-size: var(--fz-icon-m);
	}
	&.large {
		--height: var(--button-height-l);
		font-size: var(--fz-icon-l);
	}
}

// Border radius
.button {
	&.rounded {
		border-radius: var(--borderRadius);
	}
	&.rounded-left {
		border-radius: var(--borderRadius) 0 0 var(--borderRadius);
	}
	&.rounded-right {
		border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
	}
	&.circular {
		border-radius: 50%;
	}
	&.square {
		border-radius: 0px;
	}
}

// Mods
.button {
	&:focus-visible {
		@include focus-outline;
	}
	&:disabled {
		@include disabled;
	}
}
