@use '@/app/styles/helpers' as *;

.button {
	--bgColor: transparent;
	--color: ;
	--bgColorHover: ;
	--borderColor: ;
	--height: ;
	--borderRadius: var(--border-radius-m);
	height: var(--height);
	width: var(--height);
	@include user-select-off;
	border: none;
	cursor: pointer;
	background-color: var(--bgColor);
	color: var(--color);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	transition: background-color 0.2s, color 0.2s, opacity 0.2s;
}

// Colors
.button {
	&.primary {
		--color: var(--theme-color-primary-500);
		--borderColor: var(--border-color-primary);
	}
	&.dark,
	&.grey {
		--color: var(--font-color-soft);
		--borderColor: var(--border-color-grey);
	}
}

// Variants
.button {
	&.filled {
		&:not(.custom-color) {
			@include hover {
				background-color: var(--bgColorHover);
			}
		}
		&.primary {
			--color: var(--font-color-onDark);
			--bgColor: var(--theme-color-primary-500);
			--bgColorHover: var(--theme-color-primary-600);
		}
		&.dark {
			--bgColor: var(--theme-color-dark);
			--bgColorHover: var(--theme-color-grey-900);
		}
		&.grey {
			--bgColor: var(--theme-color-grey-900);
			--bgColorHover: var(--theme-color-dark);
		}
    &.dark,
    &.grey {
      border: var(--border-weight-soft) solid var(--borderColor);
    }
	}
  &.outlined {
    border: var(--border-weight-soft) solid var(--borderColor);
  }
	&.clear,
	&.outlined {
		&:after {
			content: '';
			border-radius: inherit;
			position: absolute;
			inset: 0;
			background-color: currentColor;
			opacity: 0;
			transition-duration: inherit;
		}
		@include hover {
			&:after {
				opacity: 0.1;
			}
		}
	}
}

// Sizes
.button {
	&.small-xx {
		--height: var(--button-height-xxs);
		--borderRadius: var(--border-radius-s);
		font-size: var(--fz-icon-xxs);
	}
	&.small-x {
		--height: var(--button-height-xs);
		--borderRadius: var(--border-radius-s);
		font-size: var(--fz-icon-xs);
	}
	&.small {
		--height: var(--button-height-s);
		--borderRadius: var(--border-radius-s);
		font-size: var(--fz-icon-s);
		@include laptop {
			--height: var(--button-height-xs);
			font-size: var(--fz-icon-xs);
		}
	}
	&.medium {
		--height: var(--button-height-m);
		font-size: var(--fz-icon-m);
		@include laptop {
			--height: var(--button-height-s);
			font-size: var(--fz-icon-s);
		}
	}
	&.large {
		--height: var(--button-height-l);
		font-size: var(--fz-icon-l);
		@include laptop {
			--height: var(--button-height-m);
			font-size: var(--fz-icon-m);
		}
	}
}

// Border radius
.button {
	&.rounded {
		border-radius: var(--borderRadius);
	}
	&.rounded-left {
		border-radius: var(--borderRadius) 0 0 var(--borderRadius);
	}
	&.rounded-right {
		border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
	}
	&.circular {
		border-radius: 50%;
	}
	&.square {
		border-radius: 0px;
	}
}

// Mods
.button {
	&:focus-visible {
		@include focus-outline;
	}
	&.disabled {
		@include disabled;
	}
}
