@use '@/app/styles/helpers' as *;

.item {
    display: flex;
}

.button {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0px;
}

.button,
.link {
    position: relative;
    border-radius: inherit;
    width: 100%;
    &:focus-visible {
        background-color: var(--color-grey-opacity-soft);
    }
    @include hover {
        background-color: var(--color-grey-opacity-soft);
    }
}

