.icon {
    --fill: ;
    --stroke: ;
    fill: var(--fill);
    stroke: var(--stroke);
    width: 1em;
    aspect-ratio: 1;
    flex-shrink: 0;
  }
  
  // Colors
  .icon {
    &.inherit {
      --fill: currentColor;
      --stroke: currentColor;
    }
    &.primary {
      --fill: var(--theme-color-primary-main);
      --stroke: var(--theme-color-primary-main);
    }
  }
  
  // Sizes
  .icon {
    &.small-xx {
      font-size: var(--fz-icon-xxs);
    }
    &.small-x {
      font-size: var(--fz-icon-xs);
    }
    &.small {
      font-size: var(--fz-icon-s);
    }
    &.medium {
      font-size: var(--fz-icon-m);
    }
    &.large {
      font-size: var(--fz-icon-l);
    }
  }