@use '@/app/styles/helpers' as *;

.snackbar {
    --bgColor: ;
    --color: var(--font-color-soft);
    position: fixed;
    color: var(--color);
    border-radius: var(--border-radius-small);
    display: flex;
    align-items:center;
    overflow: hidden;
    animation: mounting 0.3s;
    &.unmounting {
        animation: unmounting 0.3s forwards;
    }
}

.message {
    margin-inline: rem(15);
    margin-block: rem(5);
}

// Variants
.snackbar {
    &.filled {
        background-color: var(--theme-color-grey-800);
    }
    &.clear {
        background-color: transparent;
    }
}

// Positions
.snackbar {
    &.top-left {
        left: 20px;
        top: 20px;
    }
    &.top-right {
        right: 20px;
        top: 20px;
    }
    &.bottom-right {
        right: 20px;
        bottom: 20px;
    }
    &.bottom-left {
        left: 20px;
        bottom: 20px;
    }
}

@keyframes mounting {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes unmounting {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}