.theme-color-dark {
	--font-color-hard: var(--color-light);
	--font-color-onDark: var(--color-dark);
	--font-color-soft: var(--color-grey-500);

	--theme-color-dark: var(--color-dark);
	--theme-color-light: var(--color-light);

    // Grey
	--theme-color-grey-dark: var(--color-grey-900);
	--theme-color-grey-light: var(--color-grey-800);
    --border-color-grey: var(--color-grey-800);

    // Primary
	--theme-color-primary-light: var(--color-primary-400);
	--theme-color-primary-main: var(--color-primary-500);
	--theme-color-primary-dark: var(--color-primary-600);
    --border-color-primary: var(--color-primary-800);

	// Green
	--theme-color-green-dark: var(--color-green-600);
	--theme-color-green-main: var(--color-green-500);
	--theme-color-green-light: var(--color-green-400);
	--border-color-green: var(--color-green-700);

	// Red
	--theme-color-red-dark: var(--color-red-600);
	--theme-color-red-main: var(--color-red-500);
	--theme-color-red-light: var(--color-red-400);
	--border-color-red: var(--color-red-700);

	// Orange
	--theme-color-orange-dark: var(--color-orange-600);
	--theme-color-orange-main: var(--color-orange-500);
	--theme-color-orange-light: var(--color-orange-400);
	--border-color-orange: var(--color-orange-700);
}
