.theme-color-dark {
	--theme-color-dark: var(--color-dark);
	--theme-color-light: var(--color-light);

	--font-color-hard: var(--color-light);
	--font-color-hard-invert: var(--color-dark);
	--font-color-soft: var(--color-grey-500);
	--font-color-soft-invert: var(--color-grey-600);

	--box-shadow-paper: 0 0 5px
		hsla(var(--grey-hue), var(--grey-saturation), var(--grey-lightness), 0.5); // shadow for dropdown
	--color-dark-opacity: hsla(0, 0, 0, 0.5); // overlay

	--theme-color-primary-main: var(--color-primary-500);
	--theme-color-primary-main-light: var(--color-primary-400);
	--border-color-primary: var(--color-primary-800);

	--theme-color-grey-dark: var(--color-grey-900);
	--theme-color-grey-light: var(--color-grey-800);
	--theme-color-grey-main: var(--color-grey-500);
	--border-color-grey: var(--color-grey-800);

	// Red color
	--font-color-red-hard: var(--color-red-500);
	--font-color-red-soft: var(--color-red-600);
	--theme-color-red-dark: var(--color-red-900);
	--theme-color-red-main: var(--color-red-500);
	--theme-color-red-main-light: var(--color-red-400);
	--border-color-red: var(--color-red-800);

	// Green color
	--font-color-green-hard: var(--color-green-500);
	--font-color-green-soft: var(--color-green-600);
	--theme-color-green-dark: var(--color-green-900);
	--theme-color-green-main: var(--color-green-500);
	--theme-color-green-main-light: var(--color-green-400);
	--border-color-green: var(--color-green-800);

	// Orange color
	--font-color-orange-hard: var(--color-orange-500);
	--font-color-orange-soft: var(--color-orange-600);
	--theme-color-orange-dark: var(--color-orange-900);
	--theme-color-orange-main: var(--color-orange-500);
	--theme-color-orange-main-light: var(--color-orange-400);
	--border-color-orange: var(--color-orange-800);
}
