.theme-color-light {
    --font-color-hard: var(--color-dark);
    --font-color-onDark: var(--color-light);
    --font-color-soft: var(--color-grey-500);

    --theme-color-dark: var(--color-light);
    --theme-color-light: var(--color-dark);
    --theme-color-grey-dark: var(--color-grey-100);
    --theme-color-grey-light: var(--color-grey-300);
    --theme-color-primary-main: var(--color-primary-600);
    --theme-color-primary-secondary: var(--color-primary-500);

    //--theme-color-primary-800: var(--color-primary-300);

    --border-color-grey: var(--color-grey-300);
    --border-color-primary: var(--color-primary-300);
    --border-color-red: var(--color-red-300);
    --border-color-green: var(--color-green-300);
    --border-color-orange: var(--color-orange-300);
}
 