.theme-color-light {
    --font-color-hard: var(--color-dark);
    --font-color-onDark: var(--color-light);
    --font-color-soft: var(--color-grey-500);

    --theme-color-dark: var(--color-light);
    --theme-color-light: var(--color-dark);

    // Grey
    --theme-color-grey-dark: var(--color-grey-100);
    --theme-color-grey-light: var(--color-grey-300);
    --border-color-grey: var(--color-grey-300);

    // Primary
    --theme-color-primary-light: var(--color-primary-700);
    --theme-color-primary-main: var(--color-primary-600);
    --theme-color-primary-dark: var(--color-primary-400);
    --border-color-primary: var(--color-primary-300);

    // Green
    --theme-color-green-dark: var(--color-green-400);
    --theme-color-green-main: var(--color-green-500);
    --theme-color-green-light: var(--color-green-600);
    --border-color-green: var(--color-green-300);

    // Red
    --theme-color-red-dark: var(--color-red-400);
    --theme-color-red-main: var(--color-red-500);
    --theme-color-red-light: var(--color-red-600);
    --border-color-red: var(--color-red-300);

    	// Orange
	--theme-color-orange-dark: var(--color-orange-400);
	--theme-color-orange-main: var(--color-orange-500);
	--theme-color-orange-light: var(--color-orange-600);
	--border-color-orange: var(--color-orange-300);
}
 