.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding-inline: var(--container-padding-x);

    &.open {
        .content {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &.close {
        .content {
            transform: translateY(-40px);
            opacity: 0;
        }
    }
}

.content {
    max-height: calc(100vh - var(--container-padding-x) * 2);
    background-color: var(--theme-color-dark);
    box-shadow: var(--box-shadow-paper);
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    transform: translateY(40px);
    border-radius: var(--border-radius-m);
}



