@use '@/app/styles/helpers' as *;

.radio-wrapper {
  --height: ;
  --bgColor: ;
  --emulatorColor: var(--theme-color-primary-main);
  --borderColor: var(--border-color-grey);
  --borderColorChecked: var(--emulatorColor);
  --boxShadow: 0 0 0 var(--border-weight-soft) var(--border-color-grey);
}

.radio {
  position: relative;
  height: var(--height);
  width: var(--height);
  color: var(--theme-color-primary-main);
  border-radius: 50%;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include hover {
    box-shadow: var(--boxShadow);
  }
  &:before {
    content: '';
    height: 50%;
    aspect-ratio: 1;
    border-radius: inherit;
    border: var(--border-weight-soft) solid var(--borderColor);
    background-color: var(--bgColor);
    transition-duration: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
}

.emulator {
  position: absolute;
  background-color: var(--emulatorColor);
  height: 10%;
  opacity: 0;
  aspect-ratio: 1;
  transition-duration: inherit;
  border-radius: inherit;
}

.input {
  @include visually-hidden;
  &:focus-visible + .radio:after {
      box-shadow: var(--boxShadow);
      animation: ripple 1s infinite;
  }
}

// Sizes
.radio-wrapper {
  &.medium {
    --height: var(--button-height-s);
  }
}

// Variants
.radio-wrapper {
  &.filled {
    --bgColor: var(--theme-color-grey-dark);
  }
  &.outlined {
    --bgColor: transparent;
  }
}

// Offset
.radio-wrapper {
	&.left {
		margin-left: var(--form-margin-m);
	}
	&.right {
		margin-right: var(--form-margin-m);
	}
	&.center-horizontal {
		margin-inline: var(--form-margin-m);
	}
	&.top {
		margin-top: var(--form-margin-m);
	}
	&.bottom {
		margin-bottom: var(--form-margin-m);
	}
	&.center-vertical {
		margin-block: var(--form-margin-m);
	}
  &.all {
    margin: var(--form-margin-m);
  }
}

// Mods
.radio-wrapper {
  &.checked {
    --borderColor: var(--borderColorChecked);
    .emulator {
      height: 25%;
      opacity: 1;
    }
  }
  &.disabled {
    @include disabled;
  }
}
