@use '@/app/styles/helpers' as *;

.button {
	--height: ;
	--bgColor: transparent;
	--bgColorHover: ;
	--color: ;
	--borderColor: ;
	height: var(--height);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	white-space: nowrap;
	color: var(--color);
	background-color: var(--bgColor);
	border-radius: var(--border-radius-m);
	transition:
		background-color 0.2s,
		color 0.2s;
	@include user-select-off;
}

// Colors
.button {
	&.primary {
		--color: var(--theme-color-primary-main);
		--bgColorHover: var(--color-primary-opacity-soft);
		--borderColor: var(--border-color-primary);
	}
	&.secondary {
		--color: var(--font-color-hard);
		--borderColor: var(--border-color-grey);
		--bgColorHover: var(--color-grey-opacity-soft);
	}
}
// Variants
.button {
	&.filled {
		&.primary {
			--color: var(--font-color-onDark);
			--bgColor: var(--theme-color-primary-main);
			--bgColorHover: var(--theme-color-primary-secondary);
		}
		&.secondary {
			--bgColor: var(--theme-color-grey-dark);
			--bgColorHover: var(--theme-color-dark);
			border: var(--border-weight-soft) solid var(--borderColor);
		}
	}
	&.outlined {
		border: var(--border-weight-soft) solid var(--borderColor);
	}
}

// Sizes
.button {
	&.medium {
		--height: var(--button-height-m);
		padding-inline: var(--button-padding-inline-m);
		padding-block: var(--button-padding-block-m);
		gap: rem(8);
	}
	&.large {
		--height: var(--button-height-l);
		padding-inline: var(--button-padding-inline-l);
		padding-block: var(--button-padding-block-l);
		gap: rem(10);
	}
}

// Mods
.button {
	@include hover {
		background-color: var(--bgColorHover);
	}
	&:focus-visible {
		@include focus-outline-inset;
	}
	&:disabled {
		@include disabled;
	}
}
