@use '@/app/styles/helpers' as *;

.button {
	--height: ;
	--bgColorHover: ;
	--borderColor: ;
	min-height: var(--height);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	white-space: nowrap;
	color: var(--color);
	border-radius: var(--border-radius-m);
	font-weight: 500;
	transition:
		background-color 0.2s,
		color 0.2s;
	@include user-select-off;
}

// Colors
.button {
	&.primary {
		--borderColor: var(--border-color-primary);
		color: var(--theme-color-primary-main);
	}
	&.secondary {
		--borderColor: var(--border-color-grey);
		color: var(--font-color-hard);
	}
	&.green {
		--borderColor: var(--border-color-green);
		color: var(--theme-color-green-main);
	}
	&.red {
		--borderColor: var(--border-color-red);
		color: var(--theme-color-red-main);
	}
	&.orange {
		--borderColor: var(--border-color-orange);
		color: var(--theme-color-orange-main);
	}
}

// Variants
.button {
	&.filled {
		&.primary {
			--bgColorHover: var(--theme-color-primary-light);
			color: var(--font-color-onDark);
			background-color: var(--theme-color-primary-main);
		}
		&.secondary {
			--bgColorHover: var(--theme-color-dark);
			background-color: var(--theme-color-grey-dark);
			border: var(--border-weight-soft) solid var(--borderColor);
		}
		&.green {
			--bgColorHover: var(--theme-color-green-light);
			background-color: var(--theme-color-green-main);
			color: var(--font-color-onDark);
		}
		&.red {
			--bgColorHover: var(--theme-color-red-light);
			background-color: var(--theme-color-red-main);
			color: var(--font-color-onDark);
		}
		&.orange {
			--bgColorHover: var(--theme-color-orange-light);
			background-color: var(--theme-color-orange-main);
			color: var(--font-color-onDark);
		}
		@include hover {
			background-color: var(--bgColorHover);
		}
	}
  &.outlined {
    border: var(--border-weight-soft) solid var(--borderColor);
  }
	&.clear,
	&.outlined {
		background-color: transparent;
		&:after {
			content: '';
			border-radius: inherit;
			position: absolute;
			inset: 0;
			background-color: currentColor;
			opacity: 0;
			transition-duration: inherit;
		}
		@include hover {
			&:after {
				opacity: 0.1;
			}
		}
	}
}

// Sizes
.button {
	&.small {
		--height: var(--button-height-s);
		padding-inline: var(--button-padding-inline-s);
		padding-block: var(--button-padding-block-s);
		gap: rem(6);
	}
	&.medium {
		--height: var(--button-height-m);
		padding-inline: var(--button-padding-inline-m);
		padding-block: var(--button-padding-block-m);
		gap: rem(8);
	}
	&.large {
		--height: var(--button-height-l);
		padding-inline: var(--button-padding-inline-l);
		padding-block: var(--button-padding-block-l);
		gap: rem(10);
	}
}

// Mods
.button {
	@include hover {
		background-color: var(--bgColorHover);
	}
	&:focus-visible {
		@include focus-outline-inset;
	}
	&:disabled {
		@include disabled;
	}
}
