.indicator {
    border-radius: var(--border-radius-full);
    background-color: var(--border-color-grey);

    &.position-bottom,
    &.position-top {
        height: 4px;
        width: 40px;
    }

    &.position-bottom {
        margin-bottom: var(--padding-20);
    }
    &.position-top {
        margin-top: var(--padding-20);
    }
}
