@use '@/app/styles/helpers' as *;

.slider {
	--height: ;
	--trackHeight: ;
	--boxShadow: 0 0 0 var(--border-weight-soft) var(--theme-color-primary-main);
	--trackColor: var(--theme-color-grey-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&.disabled {
		@include disabled;
	}
}

.track {
	position: relative;
	background-color: var(--trackColor);
	border: var(--border-weight-soft) solid var(--border-color-grey);
	border-radius: var(--border-radius-full);
}

.fill {
	position: absolute;
	background-color: var(--theme-color-primary-main);
	box-shadow: var(--boxShadow);
	border-radius: inherit;
}

// Sizes
.slider {
	&.small {
		--height: var(--button-height-xs);
		--trackHeight: #{rem(3)};
	}

	&.medium {
		--height: var(--button-height-s);
		--trackHeight: #{rem(6)};
	}
}

// Orientation
.slider {
	&.horizontal {
		height: var(--height);
		width: 100%;
		.track {
			width: 100%;
			height: var(--trackHeight);
		}
		.fill {
			height: 100%;
		}
	}
	&.vertical {
		width: var(--height);
		height: 100%;
		.track {
			height: 100%;
			width: var(--trackHeight);
		}
		.fill {
			width: 100%;
			bottom: 0;
		}
	}
}
