.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%; 
    border: var(--border-weight-soft) solid var(--border-color-grey);
    background-color: var(--theme-color-dark);
    border-radius: var(--border-radius-l);
    opacity: 0;
    transform: translateY(50%);
    &.enter {
        animation: mounting 0.2s forwards;
    }
    &.enter-done {
        opacity: 1;
        transform: scale(1);
    }
    &.exit {
        animation: unmounting 0.2s forwards;
    }
}

@keyframes mounting {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes unmounting {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(50%);
    } 
}
