@use '@/app/styles/helpers' as *;

.divider {
    background-color: var(--border-color-grey);
    border: none;
}

.divider {
    &.vertical {
        width: var(--border-weight-soft);
        margin-inline: rem(5);
        height: auto;
    }
    &.horizontal {
        height: var(--border-weight-soft);
        margin-block: rem(5);
        width: auto;
    }
}