@use '@/app/styles/helpers' as *;

.avatar {
	--height: ;
	--fontSize: 1.3em;
	height: var(--height);
	width: var(--height);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: var(--color-light);
	@include user-select-off;
	font-size: var(--fontSize);
	box-sizing: content-box;
	&.default-bg-color {
		background-color: var(--theme-color-grey-800);
	}
}

// Border
.avatar {
	&.dark {
		border: var(--border-weight-hard) solid var(--theme-color-dark);
	}
	&.grey {
		border: var(--border-weight-hard) solid var(--color-grey-500);
	}
}

// Sizes
.avatar {
	&.small {
		--height: #{rem(40)};
		--fontSize: calc(var(--height) / 1.75);
		@include laptop {
			--height: #{rem(35)};
		}
	}
	&.medium {
		--height: #{rem(60)};
		--fontSize: calc(var(--height) / 1.75);
		@include laptop {
			--height: #{rem(50)};
		}
	}
	&.large {
		--height: #{rem(80)};
		--fontSize: calc(var(--height) / 1.75);
        @include laptop {
			--height: #{rem(60)};
		}
	}
}

// Variants
.avatar {
	&.circular {
		border-radius: 50%;
	}
	&.rounded {
		border-radius: var(--border-radius-m);
	}
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
