.dialog {
    padding-inline: var(--container-padding-x);
}

.content {
    max-height: calc(100vh - var(--container-padding-x) * 2);
    overflow-y: auto;
    background-color: var(--theme-color-dark);
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow-paper);
    transition: transform 0.2s;
    transform: translateY(-50px);
    &.open {
        transform: translateY(0);
    }
    &.close {
        transform: translateY(-50px);
    }
}