.dropdown {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	left: 0;
	top: 0;
	translate: -100% -100%;
	visibility: hidden;
	&.open {
		pointer-events: all;
		opacity: 1;
		visibility: visible;
	}
	&.transition {
		transition: opacity 0.2s, z-index 0s 0.2s, visibility 0s 0.2s;
		&.open {
			transition: opacity 0.2s;
		}
	}
}
