@use '@/app/styles/helpers' as *;

.container {
    position: relative;
    display: inline-flex;
}
.badge {
    --badgeWidth: ;
    position: absolute;
    min-width: var(--badgeWidth);
    height: var(--badgeWidth);
    border-radius: var(--border-radius-full);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition-duration: 0.2s;
    font-weight: 500;
    @include user-select-off;
    &.visible {
        transform: scale(1);
    }
}

// Border
.badge {
    &.border {
        border: var(--border-weight-hard) solid var(--theme-color-dark);
    }
}

// Colors
.badge {
    &.primary {
        background-color: var(--theme-color-primary-main);
        color: var(--font-color-onDark);
    }
    &.secondary {
        background-color: var(--theme-color-grey-light);
        color: var(--font-color-hard);
    }
    &.green {
        background-color: var(--theme-color-green-main);
        color: var(--color-light);
    }
    &.red {
        background-color: var(--theme-color-red-main);
        color: var(--color-light);
    }
}

// Sizes
.badge {
    &.small {
        --badgeWidth: #{rem(12)};
        font-size: #{rem(8)};
        padding-inline: #{rem(2)};
    }
    &.medium {
        --badgeWidth: #{rem(20)};
        font-size: #{rem(12)};
        padding-inline: #{rem(4)};
    }
}

// Position
.badge {
    // Top-left
    &.top-left {
        translate: -50% -50%;
        &.square {
            top: 0px;
            left: 0px;
        }
        &.circular {
            top: 14%;
            left: 14%;
        }
    }
    // Top-right
    &.top-right {
        translate: 50% -50%;
        &.square {
            top: 0px;
            right: 0px;
        }
        &.circular {
            top: 14%;
            right: 14%;
        }
    }
    // Bottom-right
    &.bottom-right {
        translate: 50% 50%;
        &.square {
            bottom: 0px;
            right: 0px; 
        }
        &.circular {
            bottom: 14%;
            right: 14%;
        }
    }
    // Bottom-left
    &.bottom-left {
        translate: -50% 50%;
        &.square {
            bottom: 0px;
            left: 0px;
        }
        &.circular {
            bottom: 14%;
            left: 14%;
        }
    }
}