@use '@/app/styles/helpers' as *;

.star-rating {
	--legendColor: var(--font-color-hard);
	margin: 0px;
	display: flex;
	flex-direction: column;
	&:focus-within {
		--legendColor: var(--color-yellow);
	}
	&.errored {
		--legendColor: var(--color-red-500);
		.stars-group {
			animation: snaking 0.5s;
		}
	}
	&.required {
		.legend:after {
			@include required-label;
		}
	}
	&.success {
		pointer-events: none;
	}
	&.hidden-legend {
		.legend {
			@include visually-hidden;
		}
	}
}

.stars-group {
	display: inline-flex;
}

.legend {
	padding: 0px;
	color: var(--legendColor);
}

.star {
	&.success {
		animation: success 1s;
	}
}

@keyframes success {
	0% {
		transform: translateY(0%);
	}
	40% {
		transform: translateY(-40%);
	}
	60% {
		transform: translateX(0%);
	}
	65% {
		transform: translateX(10%);
	}
	70% {
		transform: translateX(-9%);
	}
	75% {
		transform: translateX(7%);
	}
	80% {
		transform: translateX(-5%);
	}
	90% {
		transform: translateX(3%);
	}
	100% {
		transform: translateX(0%);
	}
}
