@use '@/app/styles/helpers' as *;

.star-rating {
  margin: 0px;
  display: flex;
}

.stars-group {
  display: inline-flex;
}

.legend {
  padding: 0px;
}

.star {
  &.success {
    animation: success 1s;
  }
}

.star-rating {
  &.hidden-label {
    .legend {
      @include visually-hidden;
    }
  }
  &.success {
    pointer-events: none;
  }
}

@keyframes success {
  0% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-40%);
  }
  60% {
    transform: translateX(0%);
  }
  65% {
    transform: translateX(10%);
  }
  70% {
    transform: translateX(-9%);
  }
  75% {
    transform: translateX(7%);
  }
  80% {
      transform: translateX(-5%);
    }
  90% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0%);
  }
}