.arrow {
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: inherit;
	box-shadow: var(--box-shadow-paper);
	clip-path: polygon(0 0, 0 100%, 100% 100%);

	&.side-top {
		transform: rotate(-45deg);
		bottom: -5px;
	}
	&.side-bottom {
		transform: rotate(-225deg);
		top: -5px;
	}
	&.side-left {
		transform: rotate(-135deg);
		right: -5px;
	}
	&.side-right {
		transform: rotate(-315deg);
		left: -5px;
	}
}
